* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url(../image/pexels.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 1140px;
	margin: 10 auto;
}

.loging-form {
    width: 624px;
    height: 50%;
    background-color: deepskyblue;
    float: left;
    margin: 70px;
    border-radius: 35px;
    padding: 40px;
    margin-left: 300px;
}

.loging-form img {
     margin: 0 auto;
     display: block;
}

.loging-form h3 {
     text-align: center;
     font-size: 35px;
     color: green;
}

.banner {
      width: 94%;
      padding: 10px;
      margin: 8px;
}

.btn {
    margin: 12px auto;
    display: block;
    padding: 10px 22px;
    font-size: 20px;
    background-color: bisque;
    font-weight: bold;
    border-radius: 40px;
    transition: 0.5s ease;
}

.btn:hover {
	box-shadow: 2px 4px 8px aquamarine;
	cursor: pointer;
    color: #03a9f4;
}
a {
    font-size: 22px;
    list-style: none;
    padding: 10px;
    text-decoration: none;
}

ul {
    list-style: none;
}